@{
    ViewBag.Title = "Головна";
}
@using website.Models
<div class="col-md-4">
</div>
<div class="col-md-8">
    @foreach (Movie movie in Model)
    {
        <div>
            <h2 class="altname">@movie.Name (@movie.Year)</h2>
            <div class="row details-panel">
                <div class="col-md-4">
                    <a data-fancybox="" href="https://image.tmdb.org/t/p/original/qzq2uWVsCx3POVbRoZ41eQjtb6F.jpg" rel="posters">
                        <img itemprop="image" class="img-responsive" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/qzq2uWVsCx3POVbRoZ41eQjtb6F.jpg" alt="Брейвен">
                    </a>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div></div>
                    <table class="table movie-detail">
                        <tbody>
                            <tr>
                                <td>Жанр:</td>
                                <td>
                                    <a class="label label-primary" href="">екшн</a>
                                    <a class="label label-primary" href="">драма</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Країна:</td>
                                <td>
                                    <a class="label label-primary" href="">Канада</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Тривалість:</td>
                                <td>01:50:41</td>
                            </tr>
                            <tr>
                                <td>Кінокомпанія</td>
                                <td>Lions Gate International, Marrowbone, Telecinco Cinema</td>
                            </tr>
                            <tr>
                                <td>Режисер:</td>
                                <td>Серхіо Х. Санчес</td>
                            </tr>
                            <tr>
                                <td>Актори:</td>
                                <td>Джордж МакКей, Аня Тейлор-Джой, Чарлі Гітон, Міа Ґот, Меттью Стеґґ, Ніколя Харрісон, Кайл Соллер, Том Фішер, Майра Кетрін Пірс, Пол Джессон та інші</td>
                            </tr>
                            <tr>
                                <td>IMDB:</td>
                                <td>
                                    <a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt5886440/" class="postlink"><img src="//hurtom.com/imdb/tt5886440.png" border="0" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Сюжет:</td>
                                <td>Подалі від галасливого міста, серед розкішної природи стоїть старовинний маєток. Тут усамітнено живуть троє братів та сестра – будинок дістався їм у спадок від матері. Вони являють собою повноцінну міцну родину, хоча й мешкають наразі без батьків. Таємницю про те, як загинула їхня мама, вони ніколи і нікому не розповідатимуть. До них у гості не прийнято ходити, адже ширяться недобрі чутки про цей маєток. Повірити у те, що раніше вважали вигадками пліткарів, можна лише побачивши це на власні очі. Ускладнює життя дітей надокучливий юрист Том. Він займається питаннями нерухомості і хоче зрозуміти хто ж є власником будинку.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <br>
        </div>
    }
</div>

